@media (max-width: 1440px) {
    .header-container {
        gap: 120px;
    }

    .main-bunner-section {
        background-position-x: -239px;
        padding: 70px 100px;
    }

    .bestseller-page {
        width: 387px;
        height: 540px;
    }

    .geverly {
        height: 256px;
    }

    .bestseller-stroke2 {
        right: -100px;
    }

    .bestseller-stroke1 {
        left: -100px;
    }

    .geverly-overall {
        gap: 30px;
    }

    [class^="collection-page"] {
        width: 413px;
        height: 604px;
    }

    footer {
        height: 599px;
        justify-content: flex-start;
    }

    .navigation-section {
        padding: 50px 100px;
    }

    .footer-more-info {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 50px;
    }

    .footer-instagram-container {
        margin-left: 250px;
    }

    .fin-section {
        margin-top: 50px;
    }
}

@media (max-width: 900px) {
    .header-text-cont {
        display: none;
    }

    .header-lang-n-icons {
        display: none;
    }

    .nav-bar {
        display: flex;
    }

    .nav-bar li ui {
        display: none;
    }

    li {
        list-style: none;
    }

    .header-section {
        padding: 0px 60px;
    }
    
    .header-container {
        justify-content: space-between;
    }

    .main-bunner-text-svg {
        width: 714px;
    }

    .main-bunner-section {
        padding: 70px 60px;
    }

    .bestseller-page {
        width: 240px;
        height: 459px;
    }

    .geverly {
        width: 220px;
        height: 220px;
    }

    .geverly-name {
        width: 200px;
        font-size: 20px;
    }

    .main-price {
        font-size: 20px;
    }

    .old-price {
        font-size: 16px;
    }

    .geverly-price {
        align-items: start;
        flex-direction: column;
        gap: 0px;
    }

    .geverly-overall {
        gap: 15px;
    }

    .geverly-icn-icn {
        width: 20px;
        height: 20px;
    }

    .bestseller-stroke2 {
        width: 60px;
        height: 60px;
        right: -55px;
        top: 270px
    }

    .bestseller-stroke1 {
        width: 60px;
        height: 60px;
        left: -55px;
        top: 270px
    }

    [class^="collection-page"] {
        width: 253px;
        height: 382px;
        background-size: cover;
        padding: 25px;
    }

    footer {
        height: 674px;
    }

    .footer-instagram-container {
        margin-left: 0;
    }

    .footer-sentenses {
        gap: 10px;
    }

    .footer-opascity-sentenses {
        gap: 10px;
    }

    .sentences-container {
        gap: 200px;
    }

    .navigation-section {
        padding: 50px 75px;
    }

    .footer-more-info {
        padding: 0px 75px;
        gap: 30px;
    }

    .footer-instagram-container {
        height: 170px;
        margin-right: 100px;
    }

    .pics-n-mail {
        gap: 15px;
    }

    .fin-section {
        gap: 50px;
    }

    .fin-text {
        letter-spacing: 1px;
    }
}